body {
  overflow-x: hidden;
}

.text {
  color: #bc3434;
}

.text-justify {
  text-align: justify;
}

.mt-personalizada {
  margin-top: 180px;
}

@media screen and (max-width: 982px) {
  .mt-personalizada {
    margin-top: 0px;
  }
}
