

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  
  
}



.text {
  color: #bc3434;
}

.text-justify {
  text-align: justify;
}

.mt-personalizada {
  margin-top: 180px;
}

@media screen and (max-width: 982px) {
  .mt-personalizada {
    margin-top: 0px;
  }
}


.nav-link:hover{

  color: #bc3434;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.container-footer{
  max-width: 1170px;
  
  margin: auto;
}
ul{
  list-style: none;
}
.footer{
  background-color: #121212;
  padding: 70px 0;
}
.footer-col{
  width: 25%;
  
  
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom:30px ;
  font-weight: 500;
  position: relative;
 
}

.footer-col h4::before{
 content: '';
 position: absolute;
 left: 0;
 bottom: -10px;
 background-color: #bc3434;
 height: 2px;
 box-sizing: border-box;
 width: 50px;
}
.footer-col ul li:not(:last-child){
  margin: bottom 10px; ;

}
  ul{
    padding: 0px;
    
  }
.footer-col ul li a{
  font-size: 16px;
  
  color: #bc3434;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  display: block;
  transition: all 0.3s ease;
  
}
.footer-col ul li a:hover{
  color: #bc3434;
  padding-left: 10px;
}
i{
  color: #bc3434;
}
li{
  padding: 0 0 10px 0;
}

.footer-col .social-links a{
display: inline-block;
height: 40px;
width: 40px;
background-color: rgba(255, 255, 255, 0.13);
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff ;
transition: all 0.3s ease;
}
a{
  cursor: pointer;
}
.scrollTop{
  outline: none;
  border: 0;
  background-color: #bc3434;
  width: 60px;
  height: 60px;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 999;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease;
}
.scrollTop.active{
  opacity: 1;
  visibility: visible;
  
}
.scrollTop img{
  width: 100%;
  
}

.footer-col .social-links a:hover{
    color:#bc3434;
    background-color: whitesmoke;
}

.bg-img{
  height: 108vh;
  width: 100vw;
  object-fit: cover;
  filter: brightness(20%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (max-width:574px){
  .footer-col{
    width: 100%;
  }
  .btn{
    margin-bottom: 15px;
  }
  .bg-img{
    height: 135vh;  
    width: 105vw;
  }
}