body {
  overflow-x: hidden;
}

span {
  color: #bc3434;
}

.text-justify {
  text-align: justify;
}

.mt-personalizada {
  margin-top: 10px;
}

.mt-personalizada_bottom {
  margin-bottom: 90px;
}
